.article-grid {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

@media only screen and (max-width: 1000px) {
    .article-grid {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

.mid-col {
    grid-column: 2/3;
}

.article-grid {
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 84px;
}

img {
    max-width: 100%;
}


p {
    max-height: 100%;
    font-size: 20px;
}

ul li {
    font-size: 20px;
    line-height: 26px;
}
