{% extends 'wiki/base.html' %}
{% load staticfiles %}
{% load wiki_markdown %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "articles/css/article.css" %}">
{% endblock head %}

{% block content %}
    <div class="article-grid">
        <div class="mid-col">
            <div style="height: 130px;"></div>
            <h1>{{ article.title }}</h1>
            {% autoescape off %}
                {{ article.content|markdown }}
            {% endautoescape %}
            {{ article.easyhint }}
        </div>
    </div>
{% endblock content %}
