{% extends "wiki/base.html" %}
{% load staticfiles %}
{% load wiki_markdown %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "articles/css/hint.css" %}">
{% endblock head %}


        {% block content %}
            <div class="article-grid">
               <div class="mid-col">
                    <div style="height: 130px;"></div>
                    <h1>{{ article.title }}</h1>
                    {% autoescape off %}
                        {{ article.content|markdown}}
                        {{ article.hardhint|markdown }}<br>
                    <script type="text/javascript">
                        function hardToggle() {
                            var x = document.getElementById("hard");

                            if (x.style.display === "none") {
                                x.style.display = "block";
                                alert(" changed from none to block");
                            } else if (x.style.display === "block") {
                                x.style.display = "none";
                                alert("changed from block to none");
                            }
                            alert("nothing happened")
                        }
                        function codeAddress() {
                            alert('ok');
                        }
                        window.onload = hardToggle;
                    </script>


                    <button onClick = "hardToggle()">Hard</button>
                    <div id="hard">
                            {{ article.hardhint }}
                    </div>
                    <div id="hintspacer"></div>
                    <button>Medium</button>
                    <div id="medium">
                            {{ article.mediumhint }}
                    </div>
                    <div id="hintspacer"></div>

                    <button>Easy</button>
                    <div id="easy">
                            {{ article.easyhint }}
                    </div>
                    <div id="hintspacer"></div>
                   {% endautoescape %}
            </div>
        </div>

        {% endblock content %}

