#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 500px 1fr;
    grid-template-rows: 100px 50px 50px;
}

@media only screen and (max-width: 1000px) {
    #header {
        grid-template-columns: 1fr 3fr 5fr 1fr;
    }
}

#header-top {
    grid-column: 1/5;
    grid-row: 1/3;
}

#header-bottom {
    grid-column: 1/3;
    grid-row: 2/4;
    position: sticky;
    top: 0;
}

#header-mid {
    grid-column: 1/5;
    grid-row: 2/3;
    position: sticky;
    top: 0;
}

.fargeheader {
    background-color: #607d8b;
}

#header-angle {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 50px solid transparent;
    border-top: 50px solid #607d8b;
    transform: translateX(-50%) translateY(50px);
    margin-bottom: -100px;
    position: sticky;
    top: 0;
}

#article-title {
    grid-column: 2/3;
    grid-row: 2/4;
    z-index: 100;
    text-align: center;
    font-size: 30px;
    padding-top: 65px;
    color: #fff;
    position: sticky;
    top: 0;
}

#header-form {
    grid-column: 2/4;
    grid-row: 1/2;
    transform: translateY(50px);
}

.form-grid {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.field {
    grid-column: 1/2;
}

.button {
    background-color: #8eacbb !important;
    color: #242424 !important;
    grid-column: 2/3;
    margin: 5px !important;
    margin-top: 0 !important;
    height: 38px;
}